<%= form_with(model: event, local: true, class: 'w-full') do |form|%>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col my-2">
    <%= form.label :name %>
    <%= form.text_field :name, class: "p-2 rounded bg-gray-300 focus:bg-white focus:border-blue-600" %>
  </div>

  <div class="field">
    <%= form.label :begins_at %>
    <%= form.datetime_select :begins_at %>
  </div>

  <div class="field">
    <%= form.label :ends_at %>
    <%= form.datetime_select :ends_at %>
  </div>

  <div class="flex flex-col my-2">
    <%= form.label :description %>
    <%= form.text_area :description, class: "p-2 rounded bg-gray-300 focus:bg-white focus:border-blue-600 resize-none" %>
  </div>

  <div class="actions">
    <%= form.submit class: "p-2 rounded rounded-sm bg-blue-700 hover:bg-blue-500 text-white" %>
  </div>
<% end %>
