<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Begins at</th>
    <th>Ends at</th>
    <th>description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.begins_at.strftime("%F") %></td>
      <td><%= event.ends_at.strftime("%F") %></td>
      <td><%= event.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<div class="w-full flex flex-wrap">

  <%= month_calendar partial: 'simple_calendar/calendar', events: @events, attribute: :begins_at do |date, events| %>
    <div class="flex justify-center items-center text-gray-600 flex-col" style="height: 100px; ">
      <div class="flex-1 flex flex-row">
        <h1>
          <%= date.mday.ordinalize %>
        </h1>
        <h2 class="mx-2 ">
          <%= Date::MONTHNAMES[date.month] %>
        </h2>
      </div>
      <event-vue
        :month="<%= Date::MONTHNAMES[date.month].to_json %>"
        :events="<%= events.to_json %>"
      ></event-vue>
    </div>
  <% end %>
</div>


<%= link_to 'New Event', new_event_path %>

