<!DOCTYPE html>
<html>
  <head>
    <title>SmartmailDevelopmentTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body >
  <section data-behaviour="vue" class="w-full">
    <header class="w-full bg-blue-700 ">
      <nav class="w-full flex justify-end pr-5 p-5">
        <ul class="flex">
          <li class="mx-2 p-2 hover:bg-white rounded rounded-sm">
            <a href="<%= events_path %>">Events</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="px-10 items-center w-full" >
      <%= yield %>
    </section>

  </section>
  </body>
</html>
<script>

</script>